version: "3.6"

services:
  web:
    build: ./web/
    ports:
      - "3000:3000"
    volumes:
      - ./web/src:/app/src
      - ./web/yarn.lock:/app/yarn.lock
      - ./web/package.json:/app/package.json
    command: yarn start
  db:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - ./db/data:/data/db
  api:
    build: ./api
    depends_on:
      - db
    ports:
      - "8080:8080"
      - "5000:5000"
    volumes:
      - ./api/src:/usr/src/app/src
      - ./api/server.js:/usr/src/app/server.js
      - ./api/yarn.lock:/usr/src/app/yarn.lock
      - ./api/package.json:/usr/src/app/package.json
    command: nodemon --exec npm start
    environment:
      - DB_URL=mongodb://db:27017/notes_db
