@import url('https://fonts.googleapis.com/css?family=Merienda+One');

.NoteContainer {
  margin: 15px 10px;
  position: static !important;
}

.NoAnimate {
  animation: none;
}
.NoAnimate:hover {
  animation: none;
}

.Editor {
  width: 100%;
  height: calc(100% - 2.813rem);
  z-index: 5000;
}
.Editor textarea {
  height: 100%;
  width: 100%;
  border: none;
  background: transparent;
  resize: none;
}
